@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.name__links {
  position: absolute;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  margin: auto 20px;
}
li img {
  width: 100%;
  height: 100%;
  transform: scale(1.2);
}
.name__links h2 {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: "Pacifico", cursive;
  letter-spacing: 6px;
  text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4,
    2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd,
    3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4,
    5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd,
    6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4,
    8px 7px 0px #5dabcd;
}
.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.links img {
  width: 70px;
  height: 100%;
  transition: all 0.3s;
  cursor: pointer;
}
.links img:first-child:hover {
  transform: scale(1.1);
}
.links img:last-child:hover {
  transform: scale(1.1);
}
.fas {
  animation: float 1.6s ease-in-out infinite;
  text-shadow: 1px 1px 1px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4,
    2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd,
    3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4,
    5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd,
    6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4,
    8px 7px 0px #5dabcd;
  color: white;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

p.NotReady {
  position: absolute;
  bottom: 0;
  font-size: larger;
  font-family: monospace;
  font-weight: 800;
  text-align: center;
}

p.contactMe {
  position: absolute;
  bottom: 0;
  font-size: x-large;
  font-family: monospace;
  font-weight: 800;
  text-align: center;
  color: #2b2a2a;
  margin-bottom: 60px;
  transition: all 0.4s;
}
p.contactMe:hover {
  transform: scale(1.02);
  color: #f7f7f7;
  text-shadow: #111 0 2px 8px;
}

nav {
  position: absolute;
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
nav ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 20px 50px;
  text-align: center;
  font-family: monospace;
  font-size: 1.2rem;
  overflow: hidden;
}
nav ul li a {
  color: #111;
  text-decoration: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
nav ul li a:hover {
  color: rgb(231, 226, 226);
}

section {
  padding: 4em 2em;
  text-align: center;
}

section img {
  width: 100%;
}

.featured {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.featured svg.firstChild {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.featured svg.lastChild {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #1ed38d;
  top: 600px;
  left: 220px;
  z-index: -1;
}
.featured::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #eec84b;
  top: 260px;
  left: 760px;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #16e9b1;
  letter-spacing: 0.2em;
  font-size: 0.85em;
  text-shadow: #111 0px 2px 3px;
}

.featured-title {
  color: #2b2a2a;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 1em;
  display: block;
  margin-bottom: 1.2em;
}

p.featured-title a {
  color: #111;
  transition: all 0.3s;
}

p.featured-title a:hover {
  color: rgb(240, 240, 240);
}

.featured-desc {
  color: #302e2e;
  margin-bottom: 5em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
}

.portfolio {
  position: relative;
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}

.left {
  margin-top: 140px;
}

.right {
  border-radius: 2em;
  margin-top: 0.3em;
}

@media only screen and (max-width: 350px) {
  img.hideOnSmall {
    display: none;
  }
  p.mb0 {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 600px) {
  nav ul li {
    padding-right: 20px;
    padding-left: 20px;
  }
  ul li a {
    font-size: 0.7rem;
  }
  .name__links {
    font-size: 2rem;
  }
  img.twitter-logo {
    transform: scale(0.75);
  }
  img.github-logo {
    transform: scale(0.75);
  }
}

@media only screen and (min-width: 800px) {
  .name__links {
    font-size: 4rem;
  }

  .featured,
  .portfolio {
    text-align: left;
  }

  .featured,
  .portfolio-container {
    display: grid;
    grid-template-columns: 40% auto;
  }

  .left,
  .portfolio-left {
    display: grid;
    place-content: center;
  }

  .right {
    place-self: center;
    margin-left: 2em;
    margin-top: 1em;
    border-radius: 2em;
  }
}

@media only screen and (min-width: 1050px) {
  section {
    padding: 4em;
  }

  .portfolio img {
    float: right;
    max-width: 560px;
  }
}

@media only screen and (min-width: 1250px) {
  .name__links {
    font-size: 5rem;
  }
  section {
    padding: 10em 10em 4em 10em;
  }
  .subtitle {
    font-size: 1.1em;
  }

  .featured-title {
    font-size: 1.6em;
  }

  .featured-desc {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1550px) {
  section {
    padding: 6em 20em 4em 20em;
  }
  .subtitle {
    font-size: 1.3em;
  }

  .featured-title {
    font-size: 1.8em;
  }

  .featured-desc {
    font-size: 1em;
    margin-bottom: 200px;
  }
}
